<style>
@import url(//fonts.googleapis.com/css?family=Open+Sans);

#cssmenu {
  border-bottom: 3px solid blue !important;	
}

#menu-line {
  background: blue !important;
}

#cssmenu > ul > li.active > a {
  color: blue !important;
}

#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: blue !important;
}
#cssmenu ul ul li a {
  color: LightBlue !important;
}


a:link, a:visited {
	color: #00F;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	color: #fff;
	text-decoration: none;
	/* background-color: #06F;
	text-shadow: 1px 1px 1px #333;
	*/
}

</style>