@charset "utf-8";
/* CSS Document */

		/* Region Titles */
	#arkansas-title,
	#louisiana-title,
	#oklahoma-title,
	#texico-title, #texas-title, 
	#african-american-union-title, #texas-border, #new-mexico-copy,
	#african-american-conference:hover ~ #southwestern-union-title {
		opacity: 0;
	}
	
	#af-am-conf-full {
		fill: green;
	}
	
	#arkansas-louisiana-area:hover #louisiana-title,
	#ok-link:hover #oklahoma-title,
	#nm-link:hover #texico-title,
	#af-am-conf-full:hover + #african-american-union-title {
		opacity: 1;
	}
	
	
	/* Southwestern Union */
	#oklahoma-area,
	#arkansas,
	#louisiana,
	#new-mexico, #tx-group {
		fill: #ef8423;
		stroke: black;
		stroke-width: 2;
		stroke-opacity: 0;		
	}
	
	#oklahoma-area2,
	#arkansas2, #texas2,
	#louisiana2,
	#new-mexico2 {
		fill: green;
	}
	
	
	#af-am-conf-full:hover {
		opacity: .5;
		fill: green;
		stroke: #231F20;
	}
	
	#african-american-conference:hover + #southwestern-union {
		opacity: 0;
	}
	
	#oklahoma-area:hover {
		fill: #f5b57b;
		stroke-width: 2;
		stroke-opacity: 0.7;	
		stroke: #231F20;	
	}
	
	#arkansas-louisiana-area:hover #arkansas,
	#arkansas-louisiana-area:hover #louisiana {
		fill: #f9cea7;
	}
	
	#ar-link:hover #arkansas,
	#la-link:hover #louisiana,
	#nm-link:hover #new-mexico {
		stroke-opacity: 0.7;	
		stroke: #231F20;						
	}	

/* NEW MEXICO */
	#tx-nm:hover #texico-title {
		opacity: 1;
	}
		
	#nm-link:hover #new-mexico
	 {
		fill: #f29d4f;
	}

/* TEXAS */

	#tx-nm:hover #western-texas,
	#tx-link:hover #western-texas,
	#tx-nm:hover #new-mexico {
		fill: #f29d4f;		
	}

	#tx-link:hover #texas-state {
		stroke-width: 5;
		stroke-opacity: 0.7;	
		stroke: #231F20;								
	}

	#tx-link:hover #texas-title, 
	#tx-link:hover #texico-title
	 {
		opacity: 1;	
	}
	
	#tx-link:hover #texas-conf {
		fill: #f19039;					
	}

	
	/* Region Titles */
	.ak-details,
	.or-details,
	.wa-details,
	.upper-columbia-details,
	.id-details,
	.mt-details,
	#alaska-title,
	#washington-title,
	#oregon-title, #washington,
	#upper-columbia-title, 
	#montana-title, #idaho,
	#idaho-title {
		opacity: 0;
	}
	

	/* North Pacific Union */
	#wa-island,
	#wa, 
	#eastern-wa,
	#upper-idaho,
	#s-idaho-area,
	#montana-area,
	#alaska-area,
	#e-oregon-area, #w-oregon-area,
	#south-washington {
		fill: #ff00cc;
	}
	
	
	#alaska-group:hover #alaska-title,
	#oregon-group:hover #oregon-title,
	#montana-group:hover #montana-title,
	#idaho-group:hover #idaho-title,
	#upper-columbia-group:hover #upper-columbia-title,
	#washington-group:hover #washington-title {
		opacity: 1;
	}

	#alaska-group:hover #alaska-area {
		fill: #ff4cdb;
		stroke: #231F20;
		stroke-width: 2;
		stroke-opacity: 0.7;
		
	}

	#montana-group:hover #montana-area {
		fill: #ff99ea;
		stroke: #231F20;
		stroke-width: 2;
		stroke-opacity: 0.7;
		
	}

	#upper-columbia-plus:hover #idaho-title,
	#upper-columbia-plus:hover #washington-title,
	#upper-columbia-plus:hover #upper-columbia-title,
	#upper-columbia-plus:hover #oregon-title {
		opacity: 1;
	}
	
	#upper-columbia-plus:hover #wa,
	#upper-columbia-plus:hover #wa-island {
		fill: #ff4ddb;	
	}

	#upper-columbia-plus:hover #w-oregon-area,
	#upper-columbia-plus:hover #south-washington {
		fill: #ff99ea;		
	}
	#upper-columbia-plus:hover #s-idaho-area,
	#upper-columbia-plus:hover #e-oregon-area {
		fill: #b3008f;	
	}
	#upper-columbia-plus:hover #upper-idaho,
	#upper-columbia-plus:hover #eastern-wa {
		fill: #ffb3f0;
	}	
		

	#id-link:hover #idaho {
		opacity: 1;
		fill:none;
		stroke: #231F20;
		stroke-width: 2;
		stroke-opacity: 0.7;
		
	}

	#or-link:hover #oregon-state {
		stroke: black;
		stroke-width: 4;
		stroke-opacity: 0.7;		
	}
	
	#wa-link:hover #washington {
		opacity: 1;
		fill: none;
		stroke: black;
		stroke-width: 4;
		stroke-opacity: 0.7;	
	}
		


	/* Region Titles */
	#dakota-title,
	#minnesota-title,
	#iowa-missouri-title,
	#kansas-nebraska-title,
	#rocky-mountain-title,
	#mid-america-conference #mid-america-conference-title {
		opacity: 0;
	}
	
	.rky-mntn-details,
	.kan-neb-details,
	.dak-details,
	.io-mis-details,
	.min-details,
	#mid-america-conference:hover ~ #mid-america-union {
		visibility: hidden;
	}
	
	/* Union Titles */
	#mid-america-union-title {
		/*text-shadow: 1px 1px 1px white;*/
		fill: #000;
		z-index: 999;
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	}
	
	#dakota-area:hover #dakota-title,
	#min-link:hover #minnesota-title,
	#iowa-missouri-area:hover #iowa-missouri-title,
	#kansas-nebraska-area:hover #kansas-nebraska-title,
	#rocky-mountain-area:hover #rocky-mountain-title,
	#mid-america-conference:hover #mid-america-conference-title {
		opacity: 1;
	}
	
	#mid-america-conference:hover #colorado2,
	#mid-america-conference:hover #wyoming2,
	#mid-america-conference:hover #new-mexico3,
	#mid-america-conference:hover #kansas2,
	#mid-america-conference:hover #nebraska2,
	#mid-america-conference:hover #iowa2,
	#mid-america-conference:hover #missouri2,
	#mid-america-conference:hover #minnesota-area2,
	#mid-america-conference:hover #north-dakota2,
	#mid-america-conference:hover #south-dakota2 {
		opacity: .25;
	}
	
	#mid-america-conference:hover #full-mid-america-shape {
		opacity: .25;
	}
	
	/* Mid-America Union */
	#colorado,
	#wyoming,
	#new-mexico2,
	#kansas,
	#nebraska,
	#iowa,
	#missouri,
	#minnesota-area,
	#north-dakota,
	#south-dakota {
		fill: #fed20d;
		stroke: black;
		stroke-width: 2;
		stroke-opacity: 0;
	}
	
	#mid-america-conference #colorado2,
	#mid-america-conference #wyoming2,
	#mid-america-conference #new-mexico3,
	#mid-america-conference #kansas2,
	#mid-america-conference #nebraska2,
	#mid-america-conference #iowa2,
	#mid-america-conference #missouri2,
	#mid-america-conference #minnesota-area2,
	#mid-america-conference #north-dakota2,
	#mid-america-conference #south-dakota2,
	#mid-america-conference #full-mid-america-shape {
		fill: #662d91;
	}
	
	#rocky-mountain-area:hover #colorado,
	#rocky-mountain-area:hover #wyoming,
	#rocky-mountain-area:hover #new-mexico2 {
		fill: #fff6cf;	
	}
	
	#kansas-nebraska-area:hover #kansas,
	#kansas-nebraska-area:hover #nebraska {
		fill: #fed20d;
		opacity: 0.9;
	}
	
	#iowa-missouri-area:hover #iowa,
	#iowa-missouri-area:hover #missouri {
		fill: #ffed9e;
	}
	
	#minnesota-area:hover {
		fill: #fedb3d;
		stroke-opacity: 0.7;	
		stroke: #231F20;	
	}
	
	#dakota-area:hover #north-dakota,
	#dakota-area:hover #south-dakota {
		fill: #fee46e;
	}
	
	#nd-link:hover #north-dakota,
	#sd-link:hover #south-dakota, 
	#ia-link:hover #iowa,
	#mo-link:hover #missouri,
	#ks-link:hover #kansas,
	#ne-link:hover #nebraska,		 
	#wy-link:hover #wyoming,
	#co-link:hover #colorado, 
	#nm-link:hover #new-mexico2 {
		stroke-width: 3;
		stroke: #231F20;
		stroke-opacity: 0.7;	
	}

	
	
	/* Region Titles */
	#illinois-link #illinois-title,
	#wisconsin-link #wisconsin-title,
	#michigan-link #michigan-title,
	#indiana-link #indiana-title,
	#lake-conference-title,
	#lake-conference:hover ~ #lake-union  {
		opacity: 0; 
	}
	
	/* Union Titles */
	#lake-union-title {
		opacity: 1;
		fill: #000;
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	}
	
	#illinois-link:hover #illinois-title,
	#wisconsin-link:hover #wisconsin-title,
	#michigan-link:hover #michigan-title,
	#indiana-link:hover #indiana-title,
	#lake-conference:hover #lake-conference-title {
		opacity: 1;
	}
	
	.illinois-details,
	.wisconsin-details,
	.michigan-details,
	.indiana-details {
		visibility: hidden;
	}
	
	/* Lake Union */
	#indiana-area,
	#michigan-area,
	#wisconsin-area,
	#illinois-area {
		fill: #1682b0;
		stroke: black;
		stroke-width: 2;
		stroke-opacity: 0;
	}
	
	#indiana-area:hover,
	#michigan-area:hover,
	#wisconsin-area:hover,
	#illinois-area:hover {
		stroke-opacity: 0.7;	
		stroke: #231F20;	
	}
	
	#lake-conference-area {
		fill: #EC008C;
	}
	
	#lake-conference-area:hover {
		opacity: .25;
	}
	
	#lake-conference:hover #full-conference {
		opacity: .25
	}
	
	#indiana-area:hover {
		fill: #1682b0;
	}
	
	#michigan-area:hover {
		fill: #a2cddf;
	}
	
	#wisconsin-area:hover {
		fill: #73b4d0;
	}
	
	#illinois-area:hover {
		fill: #459bc0;
	}
	



	.hidden {
		display: none;
	}
	
	#new-jersey-title,
	#chesapeake-title,
	#pennsylvania-title,
	#mountain-view-title,
	#ohio-title,
	#potomac-title {
		opacity: 0;	
	}
	
	/* Columbia Union */
	#pennsylvania-area, #delaware-state, #virginia-state, #maryland-state, #west-virginia-state, 
	#new-jersey-area, #mountain-view-wv, #mountain-view-western-maryland, #chesapeake-main, #chesapeake-md-islands, #chesapeake-va-islands, 
	#chesapeake-wv, #potomac-area, #chesapeake-maryland-west,
	#ohio-area {
		fill: #b975b7;
		stroke: black;
		stroke-width: 2;
		stroke-opacity: 0;
	}

	#mountain-view-area-bg,
	#chesapeake-area-bg,
	#pennsylvania-area-bg,
	#new-jersey-area-bg,
	#potomac-area-bg,
	#ohio-area-bg {
		fill: #FBB040;
		stroke: #FBB040;
		stroke-width: 3;
	}
	
	#pa-link:hover #pennsylvania-area {
		fill: #d3a8d2;
		stroke: #231F20;
		stroke-width: 1;
		stroke-opacity: 0.7;
	}
	#pa-link:hover #pennsylvania-title{	
		opacity: 1;
	}
	
	#nj-link:hover #new-jersey-area {
		fill: #884485;
		stroke: #231F20;
		stroke-width: 1;
		stroke-opacity: 0.7;
	}
	#nj-link:hover #new-jersey-title {
		opacity: 1;
	}

	#oh-link:hover #ohio-area {
		fill: #b975b7;
		stroke: #231F20;
		stroke-width: 1;
		stroke-opacity: 0.7;		
	}
	#oh-link:hover #ohio-title {
		opacity: 1;
	}


	#md-link:hover #maryland-state {
		stroke: #231F20;
		stroke-width: 2;
		stroke-opacity: 0.7;		
	}
	#md-link:hover #mountain-view-western-md2,
	#md-link:hover #mountain-view-western-maryland {
		stroke-opacity:0;
	}

	#va-link:hover #virginia-state {
		stroke: #231F20;
		stroke-width: 2;
		stroke-opacity: 0.7;		
	}
	#de-link:hover #delaware-state {
		stroke: #231F20;
		stroke-width: 1;
		stroke-opacity: 0.7;		
	}
	#wv-link:hover #west-virginia-state {
		opacity: 1;
		stroke-opacity: 0.7;	
		stroke-width: 2;
		stroke: #231F20;		
	}
		
	#md-wv-va-de-area:hover #mountain-view-title,
	#md-wv-va-de-area:hover #potomac-title,	
	#md-wv-va-de-area:hover #chesapeake-title
	 {
		opacity: 1;	
	}
	
	#md-wv-va-de-area:hover #mountain-view-wv,
	#md-wv-va-de-area:hover #mountain-view-western-maryland,
	#md-wv-va-de-area:hover #mountain-view-western-md2 {
		fill: #eedded;	
	}
	
	#md-wv-va-de-area:hover #potomac-area {
		fill: #aa55a7;	
	}
	
	#md-wv-va-de-area:hover #chesapeake-main,
	#md-wv-va-de-area:hover #chesapeake-md-islands,
	#md-wv-va-de-area:hover #chesapeake-va-islands,
	#md-wv-va-de-area:hover #chesapeake-wv,
	#md-wv-va-de-area:hover #delaware-state {
		fill: #ddbbdc;	
	}
	
	
	#allegheny-west,
	#west-virginia2,
	#ohio-area1,
	#virginia-west,
	#maryland-west,
	#pennsylvania-west,
	#allegheny-west-area,
	#allegheny-east,
	#delaware-area2,
	#pennsylvania-east,
	#maryland-east,
	#new-jersey2,
	#virginia-east1,
	#allegheny-east-area {
		fill: #FBB040;
	}
	
	#allegheny-west-area,
	#allegheny-east-area,
	#allegheny-west:hover #allegheny-text,
	#allegheny-west:hover #allegheny-west-text,
	#allegheny-east:hover #allegheny1-text,
	#allegheny-east:hover #allegheny-east-text {
		opacity: 1;
	}
	
	#allegheny-west:hover #allegheny-text,
	#allegheny-west:hover #allegheny-west-text,
	#allegheny-east:hover #allegheny2-text,
	#allegheny-east:hover #allegheny-east-text {
		fill: #000;
	}
	
	#allegheny-west-conference:hover #allegheny-west-area,
	#allegheny-west-conference:hover #west-virginia2,
	#allegheny-west-conference:hover #ohio-area1,
	#allegheny-west-conference:hover #virginia-west,
	#allegheny-west-conference:hover #maryland-west,
	#allegheny-west-conference:hover #pennsylvania-west,
	#allegheny-east-conference:hover #allegheny-east-area,
	#allegheny-east-conference:hover #delaware-area2,
	#allegheny-east-conference:hover #pennsylvania-east,
	#allegheny-east-conference:hover #maryland-east,
	#allegheny-east-conference:hover #new-jersey2,
	#allegheny-east-conference:hover #virginia-east1 {
		opacity: .25;
	}
	
	#allegheny-text,
	#allegheny-west-text,
	#allegheny1-text,
	#allegheny-east-text {
		opacity: 0;
	}


	/* Region Titles */
	#south-atlantic-title,
	#southeastern-title,
	#south-central-title,
	#kentucky-tennessee-title,
	#carolina-title,
	#gulf-states-title,
	#ga-cumb-title, #tennessee-state,
	#florida-title {
		opacity: 0;
	}
	
	.hidden {
		display: none;
	}
	
	#south-central-conference,
	#southeastern-conference,
	#south-atlantic-conference,
	#southeastern-conference:hover + #southeastern-title,
	#south-central-conference:hover + #south-central-title,
	#south-atlantic-conference:hover + #south-atlantic-title {
		opacity: 1;
	}
	
	#south-atlantic-conference:hover,
	#south-atlantic-states,
	#southeastern-conference:hover,
	#southeastern-states,
	#south-central-conference:hover,
	#south-central-states {
		opacity: .25;
	}
	

	
	/* Southern Union */
	#georgia,
	#eastern-tennessee,
	#north-carolina,
	#south-carolina,
	#florida-area,
	#kentucky,
	#eastern-tennessee,
	#western-tennessee,
	#mississippi,
	#alabama {
		fill: #5abb47;
		stroke: white;
		stroke-width: 2;
		stroke-opacity: 0;
	}
	

/*FLORIDA */
	#fl-link:hover  #florida-area {
		fill: #7bc96c;
		stroke: #231F20;
		stroke-opacity: 0.7;
	}
	#fl-link:hover #florida-title {
		opacity: 1;	
	}
	


/* GULF STATES */
	
	#gulf-states-area:hover #mississippi,
	#gulf-states-area:hover #alabama {
		fill: #9cd691;
	}
	#ms-link:hover #mississippi {
		stroke: #231F20;
		stroke-opacity: 0.7;
		
	}
	#al-link:hover #alabama {
		stroke: #231F20;
		stroke-opacity: 0.7;		
	}
	#gulf-states-area:hover #gulf-states-title{
		opacity: 1;
	}

/* CAROLINA */
	
	#carolina-area:hover #south-carolina,
	#carolina-area:hover #north-carolina {
		fill: #acdda3;
	}
	#sc-link:hover #south-carolina{
		stroke: #231F20;
		stroke-opacity: 0.7;
		
	}
	#nc-link:hover #north-carolina{
		stroke: #231F20;
		stroke-opacity: 0.7;		
	}
	#carolina-area:hover #carolina-title{
		opacity: 1;
	}

/* KENTUCKY */

	#ky-link:hover #kentucky  {
		fill: #3e8231;
		stroke: #231F20;
		stroke-opacity: 0.7;	
	}
	#ky-link:hover #western-tennessee {
		fill: #3e8231;	
	}
	#ky-link:hover #kentucky-tennessee-title {
		opacity: 1;	
	}

/* TENNESSEE */

	#tn-link:hover #tennessee-state {
		opacity: 1;
		stroke-opacity: 0.7;	
		stroke-width: 5;
		stroke: #231F20;
	}
	
	
	
	#ga-ky-tn-area:hover #kentucky-tennessee-title,
	#ga-ky-tn-area:hover #ga-cumb-title {
		opacity: 1;
	}
	
	
	#ga-ky-tn-area:hover #western-tennessee,
	#ga-ky-tn-area:hover #kentucky {
		fill: #3e8231;		
	}
	
	#ga-ky-tn-area:hover #eastern-tennessee,
	#ga-ky-tn-area:hover #georgia {
		fill: #bde4b5;
	}

/* GEORGIA */
	#ga-link:hover #georgia {
		stroke: #231F20;
		stroke-opacity: 0.7;		
	}




/* PACIFIC UNION STYLES */

	/* Region Titles */
	.california .cal-titles,
	.nev-ut-titles,
	.az-title,
	.hi-title {
		opacity: 0;
		color: black;
	}
	
	.cal-details,
	.nev-details,
	.ut-details,
	.az-details,
	.hi-details,
	#ca-full {
		visibility: hidden;
	}
	
	/* Union Titles */
	#pacific-union-title {
		fill: #000;
		z-index: 999;
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
	}
	
	.california:hover .cal-titles,
	.cal-link:hover + .nev-ut,
	.nev-ut:hover .nev-ut-titles,
	.az-area:hover .az-title,
	.hi-area:hover .hi-title {
		opacity: 1;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		-webkit-transform: translate3d( 0, 0, 0);
		transform: translate3d( 0, 0, 0);
	}
	
	/* Pacific Union */
	#hawaii-area,
	#arizona-area,
	#nevada,
	#utah,
	#southern-california-area,
	#south-eastern-california-area,
	#northern-california-area,
	#central-california-area {
		fill: #12a89d;
	}
	
	.cal-link:hover #ca-full {
		opacity: .5;
		stroke-opacity: 1;
		stroke-width: 2;
		stroke: #231F20;
		visibility: visible;
	}
	
	#nevada:hover,
	#utah:hover,
	#arizona-area:hover,
	#hawaii-area:hover {
		stroke: #231F20;
		stroke-width: 2;
	}
	
	.california:hover #southern-california-area {
		fill: #88d3ce;
	}
	
	.california:hover #south-eastern-california-area {
		fill: #5ac2bb;
	}
	
	.california:hover #northern-california-area {
		fill: #a0dcd8;
	}
	
	.california:hover #central-california-area {
		fill: #71cbc4;
	}
	
	.cal-link:hover + .nev-ut {
		fill: #b7e5e1;
		opacity: .75;
	}
	
	a #nevada:hover,
	a #utah:hover {
		fill: #b7e5e1;
	}
	
	a:hover #arizona-area {
		fill: #41b9b1;
	}
	
	a:hover #hawaii-area {
		fill: #b7e5e1;
	}
	
	.california:hover .cal-details,
	#nevada:hover .nev-details,
	#utah:hover .ut-details,
	a:hover #arizona-area .az-details,
	a:hover #hawaii-area .hi-details {
		opacity: 1;
	}
	
/* Region Titles */
	#northern-new-england-title,
	#greater-new-york-title,
	#new-york-title, #snec-title, #ny-state,
	#northeastern-conference #northeastern-conference-title,
	#northeastern-conference #northeastern-conference-areas {
		opacity: 0;
	}
	
	#northeastern-conference:hover #northeastern-conference-full,
	#northeastern-conference:hover #northeastern-conference-areas {
		opacity: .25;
	}
	
	.so-ne-details,
	.no-ne-details,
	.greater-ny-details,
	.ny-details,
	#northeastern-conference:hover ~ #atlantic-union {
		visibility: hidden;
	}
	

	#northern-new-england-area:hover #northern-new-england-title,
	#southern-new-england-area:hover #snec-title,
	#greater-ny-link:hover #greater-new-york-title,
	#ny-link:hover #new-york-title,
	#northeastern-conference:hover #northeastern-conference-title {
		opacity: 1;
		fill: #000;
	}
	
	/* Atlantic Union */
	#new-york-area,
	#greater-new-york-area,
	#northern-new-england-area,
	#maine,
	#new-hampshire,
	#vermont,
	#southern-new-england-area,
	#massachusetts,
	#rhode-island,
	#connecticut {
		fill: #ed2052;
		stroke: black;
		stroke-width: 2;
		stroke-opacity: 0;
	}
	
	#ny-area:hover #new-york-area {
		fill: #f68fa8;
	}
	
	#ny-area:hover #greater-new-york-area {
		fill: #ed2052;
	}
	#ny-area:hover #new-york-title,
	#ny-area:hover #greater-new-york-title {
		opacity: 1;	
	}
	
	#northern-new-england-area:hover #maine,
	#northern-new-england-area:hover #new-hampshire,
	#northern-new-england-area:hover #vermont {
		fill: #f17191;
	}
	
	#southern-new-england-area:hover #massachusetts,
	#southern-new-england-area:hover #rhode-island,
	#southern-new-england-area:hover #connecticut {
		fill: #fabdcb;
	}
	
	#southern-new-england-area:hover #snec-title {
			opacity: 1;
	}
	
	#northeastern-conference-full {
		fill: #39b54a;
	}
	
	#ma-link:hover #massachusetts,
	#ct-link:hover #connecticut,
	#ri-link:hover #rhode-island,
	#vt-link:hover #vermont,
	#me-link:hover #maine,
	#nh-link:hover #new-hampshire  {
		stroke-width: 2;
		stroke: #231F20;
		stroke-opacity: 0.7;	
	}

	#ny-area-link:hover #ny-state {
		opacity: 1;
		stroke-width: 3;
		stroke: #231F20;
		stroke-opacity: 0.7;			
	}

